<app-navbar1></app-navbar1>
<div class="container" style="padding:30px 0">
  <div class="row">
    <div class="col-lg-4 col-sm-12" style="margin-top:30px;">
      <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
          <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
            <i class="ni ni-check-bold"></i>
          </div>
          <h6 class="text-primary text-uppercase">Welcome, Amit Singh</h6>
          <p class="description mt-3">Hope today, you have a great day ahead. Today, there is 4 classes to take and 12
            appointments with the student.</p>
          <div>
            <span class="badge badge-pill badge-primary">Appointments</span>
            <span class="badge badge-pill badge-primary">Mentoship</span>
            <span class="badge badge-pill badge-primary">creative</span>
          </div>
          <a href="#" class="btn btn-primary mt-4">Routine</a>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12" style="margin-top:60px;">
      <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
          <h6 class="text-primary text-uppercase tasks-heading">Tests</h6>
          <button class="btn btn-warning testbox">C++ Advanced level II</button>
          <button class="btn btn-warning testbox">Python Intermediate level I</button>
          <button class="btn btn-warning testbox">Complex System Designs II</button>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12" style="margin-top:60px;">
      <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
          <h6>New Test Creation</h6>
          <div class="testcreatebox">
            <div class="test-name-box">
              <input type="text" class="form-control" placeholder="Test Name" required>
            </div>
            <div class="test-sub-name">
              <input type="text" class="form-control" placeholder="Subject Name" required>
            </div>
            <!-- <div class="test-sec-select">
              <select class="form-control">
                <option disabled selected>Select Section for the test</option>
                <option value="A">Section A</option>
                <option value="B">Section B</option>
              </select>
            </div> -->
            <div class="take-question">
              <input type="text" class="form-control" placeholder="Question 1" required>
            </div>
            <div class="add-option-answer">
              <input type="text" class="form-control option-ans" placeholder="Option 1" required>
              <input type="text" class="form-control option-ans" placeholder="Option 2" required>
              <input type="text" class="form-control option-ans" placeholder="Option 3" required>
              <input type="text" class="form-control option-ans" placeholder="Option 4" required>
            </div>
            <div class="take-question">
                <input type="text" class="form-control" placeholder="Question 2" required>
              </div>
              <div class="add-option-answer">
                <input type="text" class="form-control option-ans" placeholder="Option 1" required>
                <input type="text" class="form-control option-ans" placeholder="Option 2" required>
                <input type="text" class="form-control option-ans" placeholder="Option 3" required>
                <input type="text" class="form-control option-ans" placeholder="Option 4" required>
              </div>
              <div class="take-question">
                  <input type="text" class="form-control" placeholder="Question 3" required>
                </div>
                <div class="add-option-answer">
                  <input type="text" class="form-control option-ans" placeholder="Option 1" required>
                  <input type="text" class="form-control option-ans" placeholder="Option 2" required>
                  <input type="text" class="form-control option-ans" placeholder="Option 3" required>
                  <input type="text" class="form-control option-ans" placeholder="Option 4" required>
                </div>
                <div class="take-question">
                    <input type="text" class="form-control" placeholder="Question 4" required>
                  </div>
                  <div class="add-option-answer">
                    <input type="text" class="form-control option-ans" placeholder="Option 1" required>
                    <input type="text" class="form-control option-ans" placeholder="Option 2" required>
                    <input type="text" class="form-control option-ans" placeholder="Option 3" required>
                    <input type="text" class="form-control option-ans" placeholder="Option 4" required>
                  </div>
                  <div class="take-question">
                      <input type="text" class="form-control" placeholder="Question 5" required>
                    </div>
                    <div class="add-option-answer">
                      <input type="text" class="form-control option-ans" placeholder="Option 1" required>
                      <input type="text" class="form-control option-ans" placeholder="Option 2" required>
                      <input type="text" class="form-control option-ans" placeholder="Option 3" required>
                      <input type="text" class="form-control option-ans" placeholder="Option 4" required>
                    </div>
            <button type="button" class="btn btn-primary add-q">Create Test</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
