<app-navbar1></app-navbar1>
<div class="container" style="padding:30px 0">
  <div class="row">
    <div class="col-sm-12 col-lg-4" style="margin-top:30px;">
      <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
          <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
            <i class="ni ni-check-bold"></i>
          </div>
          <h6 class="text-primary text-uppercase">Welcome, Amit Singh</h6>
          <p class="description mt-3">Hope today, you have a great day ahead. Today, there is 4 classes to take and 12
            appointments with the student.</p>
          <div>
            <span class="badge badge-pill badge-primary">Appointments</span>
            <span class="badge badge-pill badge-primary">Mentoship</span>
            <span class="badge badge-pill badge-primary">creative</span>
          </div>
          <a href="#" class="btn btn-primary mt-4">Routine</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8" style="margin-top:60px">
      <div class="card card-lift--hover shadow border-0">
        <div class="card-body py-5">
          <h6 class="text-primary text-uppercase tasks-heading">Chat</h6>
          <div class="student-name-show">Tushar Singh</div>
          <div class="show-msgs-box">
            <div class="out-box">
              <div class="msgs-sent sender">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  This is an error alert—check it out!
                </div>
              </div>
            </div>
            <div class="out-box">
              <div class="msgs-sent">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  checking CS32 component and testing failed.
                </div>
              </div>
            </div>
            <div class="out-box">
              <div class="msgs-sent sender">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  Can you try again with different modules and test so that the connection interruption can be disarmed.
                </div>
              </div>
            </div>
            <div class="out-box">
              <div class="msgs-sent">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  Will try however, I have found a malware affecting the whole system making CS32 connections
                  unreachable.
                </div>
              </div>
            </div>
            <div class="out-box">
              <div class="msgs-sent sender">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  How many systems are under RTO.
                </div>
              </div>
            </div>
            <div class="out-box">
              <div class="msgs-sent">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  36
                </div>
              </div>
            </div>
            <div class="out-box">
              <div class="msgs-sent sender">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  Meet me today in evening then we will sort this out.
                </div>
              </div>
            </div>
          </div>
          <input type="text" class="form-control" name="msgs" placeholder="Enter yout message here" required>
          <button class="btn btn-primary" style="margin:5px; float:right;">Send</button>
        </div>
      </div>
    </div>
  </div>
