.img-cont img{
    width:70%;
    display: block;
    margin:10px auto;
}

button{
    margin:10px auto;
    text-align: center;
}

.card{
    text-align: center;
    align-content: center;
    margin : 10px auto;
}

p{
    text-align: center;
}
