<app-navbar1></app-navbar1>
<div class="display-attendance-mark" style="padding:30px 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
          <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <i class="ni ni-check-bold"></i>
                </div>
                <h6 class="text-primary text-uppercase">Face Recognition</h6>
                <div class="img-cont">
                  <img src="../../assets/assets/img/theme/face_code.jpg" class="rounded img-fluid">
                </div>
                <p class="description mt-3">Mark the attendance of the students using face recognition, Point the camera towards the student inorder to mark the attendance. <strong style="font-weight: 900">Make sure the room has proper lightings and to cross check please verify with the head count</strong></p>
                <button routerLink="/fileUpload" class="btn btn-1 btn-outline-danger" type="button" style="font-weight: 400;">Mark Attendance using Face Recognition</button>
              </div>
            </div>
      </div>  
      <div class="col-lg-6 col-sm-12">
          <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <i class="ni ni-check-bold"></i>
                </div>
                <h6 class="text-primary text-uppercase">QR Code Scan</h6>
                <div class="img-cont">
                  <img src="../../assets/assets/img/theme/qr_code.jpg" class="rounded img-fluid">
                </div>
                <p class="description mt-3">Mark the attendance of the students using QR Code, Code will be valid for the 2-3 minutes make sure students scan the code so the attendance can be marked. <strong style="font-weight: 900">To cross check please verify with the head count</strong></p>
                <button class="btn btn-1 btn-outline-warning" routerLink="/showqrcode" type="button" style="font-weight: 400;">Mark Attendance using QR code</button>
              </div>
            </div>
      </div>  
    </div>
  </div>
  </div>
